[submodule "avl_tree"]
	path = avl_tree
	url = https://github.com/swe4s/avl_tree.git
[submodule "hash-tables-tacaro"]
	path = hash-tables-tacaro
	url = https://github.com/cu-swe4s-fall-2019/hash-tables-tacaro.git
